.main{
    width: 450px;
    height: 500px;
    background-color:#526D82 ;
    margin-top: 30px;
    margin-left: 60px;
    border: 1px solid;
}
.sub{
    display: flex;
    justify-content: center;
}
.image{
    margin-top: 0px;
    margin-left: 150px;
}
.sub1{
    display: flex;
    flex-wrap: wrap;
    background-color: #526D82;
    width: 400px;
    height: 310px;
    margin-left: 23px;
    margin-top: 100px;

    /* border: 6px solid #526D82; */
}
.sub2{
    background-color: #526D82;
    width:370px ;
    height: 120px;
    margin-top: 10px;
    margin-left: 15px;
    /* justify-content: space-between; */
}
.sub3{
    width: 100px;
    height: 100px;
    background-color: #526D82;
    margin-top: -130px;
    margin-left: 30px;
}
.sub4{
    width: 150px;
    height: 100px;
    background-color: #526D82;
    margin-top: -130px;
    margin-left: 100px;

}
.sub5{
    background-color: #526D82;
    width:370px ;
    height: 120px;
    margin-top: 10px;
    margin-left: 15px;

}
.sub6{
    width: 100px;
    height: 100px;
    background-color: #526D82;
    margin-top: 0px;
    margin-left: 19px;
}
.sub7{
    width: 100px;
    height: 100px;
    background-color: #526D82;
    margin-top: -120px;
    margin-left: 220px;
}
.line{
    width: 400px;
    height: 1px;
    background-color: black;
    border: black;
    margin-top: -400px;
    margin-left: 20px;
}
.top{
    display: flex;
    justify-content: center;
}
.line1{
    width: 400px;
    height: 1px;
    background-color: black;
    border: black;
    margin-top: 0px;
    margin-left: 30px;
}
.empty{
    width:450px;
    height: 500px;
    background-color: #526D82; 
    margin-left: 530px;
    margin-top: -80px;
    border: 1px solid;
    
    
}
.user{
    margin-left: 190px;
    margin-top: 30px;
    padding: 4px;
    font-size: 50px ;

}
/* .TextBox{

} */
.button{
     margin-left: 200px;
     margin-top: 40px;
     /* border: 2px solid; */
}
.end{
    margin-top: 20px;
   

}

.end1{
    block-size: 2px;
    margin-left: 10px;
    display: flex;
}
.end11{
    margin-top: -5px;
    margin-left: 5px;
}
 .end2{
      block-size: 2px;
      margin-left: 185px;
      display: flex;
 }
 .end22{
    margin-top: -5px;
    margin-left: 5px;
}
 .end3{
       block-size: 2px;
      margin-left: 330px;
      display: flex;
 }
 .end33{
    margin-top: -5px;
    margin-left: 5px;
}
 .TextBox{
    margin-left: 30px;
 }